
}#zona-play
{
    display: none;
}
.zona-puntaje
{
    position: relative;
    margin-top: calc(3% - 1%);
}
#game {
	padding-left: 25%;
    padding-right: 10%;
}

*{
	margin:0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	font-family: Georgia, sans-serif;
}
canvas{

cursor: crosshair;
border:black solid 1px;
}
#clr div{
cursor:pointer;
width:20px;
height:20px;
float:left;
